<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <h2>Endpoints Information:</h2>
    <ul>
        <li><strong>Entity List:</strong> <a href="/entity/">View Entity List</a></li>
        <li><strong>Entity Profile:</strong> /entity/:id</li>
        <li><strong>Create Entity:</strong> <a href="/entity/create/">Create New Entity</a></li>
        <li><strong>Delete Entity:</strong> /entity/:id/delete/</li>
    </ul>
</body>
</html>
